@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?plo4yu');
  src:  url('fonts/icomoon.eot?plo4yu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?plo4yu') format('truetype'),
    url('fonts/icomoon.woff?plo4yu') format('woff'),
    url('fonts/icomoon.svg?plo4yu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-star:before {
  content: "\f005";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-home:before {
  content: "\f015";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-dollar:before {
  content: "\f155";
}
.icon-usd:before {
  content: "\f155";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-cog:before {
  content: "\e994";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-instagram:before {
  content: "\ea92";
}
